header {
    background-color: rgb(238, 161, 37);
    display: flex;
    justify-content: space-around;
    color:rgb(20, 13, 13);
    align-self: center;
}
.nav_list ul {
    list-style: none;
}
.nav_list a{
    color:rgb(26, 19, 7);
}



body footer section{
    background-color: rgb(238, 161, 37);
    display: flex;
    justify-content: space-around;
    color:rgb(20, 13, 13);
    align-self: center;
 }
 .nav_footer ul{
    list-style: none;
 }
 .nav_footer a{
    color:rgb(26, 19, 7);
 }